/* .para-style{
    color:red;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    font
} */
/* .my-style{
    color:tomato;
    font-size: 3rem;
} */
/* //////****How to play audio in javascript */ 
 /* button{
    width: 100px;
    height: 50px;
    background-color: green;
}
.anim{
    box-shadow: 0 15px 18px 0 tomato;
    opacity: 0.5;
} */
/*/////How to play audio in javascript**How to add and remove animation */

/* DOM Event | Event Object | onsubmit event */
/* DOM Event | MouseEvent// MouseEvent <html>,<head>,<meta>,<title>,<br>,
        <style>,<script>,<iframe>,<param>,<base>,<bbo>
            //1.onclick
            //2.onblclick
            //3.onmousedown
            //4.onmousedup
            //5.onmouseenter
            //6.onmouse lesve
            //7.onmousemove
            //8.onmouseover/ */
 .document{
    
        background-color: tomato;
        height: 20rem;
        width: 20rem;
    

 }             
 